.chat {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: left;
}

.chat-messages {
    position: absolute;
    top: 0px;
    height: 350px;
    width: 100%;
    overflow-y: auto;
    border: 1px solid #777777;
}

.chat-input {
    position: absolute;
    bottom: 3px;
    left: 0px;
}

.chat-typing-indicator {
    visibility: hidden;
    position: absolute;
    bottom: 25px;
    left: 0px;
}

.chat-typing-indicator.active {
    visibility: visible;
}

.chat-typing-indicator.active::before {
    content: "...";
}

.chat-line {
    clear: both;
}
.chat-message {
    background-color: #888888;
    padding: 3px;
    border-radius: 3px;
    max-width: 75%;
    min-width: 10%;
    float:left;
    margin-bottom: 3px;
    margin-left: 3px;
}

.chat-message.owner {
    float: right;
    margin-left: 0px;
    margin-right: 3px;
}
.chat-message-text {
    color: white;
    padding-left: 5px;
}

.chat-message-username {
    font-size: 10px;
}