.chat {
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    text-align: left;
    border: 1px solid #777777;
    width: 402px;
}
.chat-content {
    height: 350px;
    width: 400px;
}
.chat-userlist {
    width: 100px;
    height: 100%;
    float: left;
    border-right: 1px solid black;
}

.chat-messages {
    float: left;
    width: 299px;
    height: 100%;
    overflow-y: auto;
}

.chat-input {
    clear: both;
    border-top: 1px solid #777777;
    width: 100%;
}

.chat-input-send {
    float: right;
}

.chat-input-text {
    width:80%;
}

.chat-typing-indicator {
    height: 20px;
}

.chat-typing-indicator.active {
}

.chat-typing-indicator.active::before {
    display:block;
    position: relative;
    height: 20px;
    width: 70px;
    background-image: url(./ellipsis.gif);
    background-size: 30px;
    background-repeat:no-repeat;
    content: '';
}

.chat-clear {
    clear: both;
}
.chat-message {
    background-color: lightgreen;
    padding: 3px;
    border-radius: 3px;
    max-width: 75%;
    min-width: 10%;
    float:left;
    margin-bottom: 3px;
    margin-left: 3px;
}

.chat-message.owner {
    float: right;
    margin-left: 0px;
    margin-right: 3px;
    background-color: lightblue;
}
.chat-message-text {
    color: black;
    padding-left: 5px;
}

.chat-message-username {
    font-size: 16px;
}

.chat-message-timeStamp {
    font-style: italic;
    font-size: 8px;
}
